VITE_COGNITO_USER_POOL_ID=us-east-1_sPexa5AeC
VITE_COGNITO_CLIENT_ID=3g86qsse5ceuelbg0rifkf1kui
VITE_COGNITO_REGION=us-east-1
VITE_COGNITO_DOMAIN=your-domain.auth.us-east-1.amazoncognito.com
VITE_COGNITO_SIGN_IN_REDIRECT_URL=http://localhost:5173
VITE_COGNITO_SIGN_OUT_REDIRECT_URL=http://localhost:5173
VITE_COGNITO_SIGN_IN_REDIRECT_URL_PROD=https://teekayyj.id.vn
VITE_COGNITO_SIGN_OUT_REDIRECT_URL_PROD=https://teekayyj.id.vn
VITE_GOOGLE_CLIENT_ID=155601987830-akftdiclhpihjdjjgjv15pv0ffvi5rnf.apps.googleusercontent.com
VITE_API_BASE_URL=http://localhost:8001
