VITE_FIREBASE_API_KEY=AIzaSyA6dODUQEpX-oVsGJCwQObg_pzIOPtd8OU
VITE_FIREBASE_AUTH_DOMAIN=kapt-diecast.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kapt-diecast
VITE_FIREBASE_STORAGE_BUCKET=kapt-diecast.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=577710641299
VITE_FIREBASE_APP_ID=1:577710641299:web:e2a1183a56436fadf13d66
VITE_FIREBASE_MEASUREMENT_ID=G-L5NWW1B53E
VITE_ENABLE_FIREBASE_ANALYTICS=false
VITE_API_BASE_URL=http://localhost:8001

