MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=ecommerce_db
MYSQL_USER=ecommerce_user
MYSQL_PASSWORD=ecommerce_password
MYSQL_HOST=db
MYSQL_PORT=3306
GOOGLE_APPLICATION_CREDENTIALS=/app/credentials/firebase-service-account.json
